# Python specific
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual Environment
.venv/
venv/
ENV/
env/

# IDE-specific files and directories
.idea/
.vscode/
*.swp
*.swo

# Compiled Python files
*.pyc
__pycache__/

# Logs
*.log

# User-specific files
*.suo
*.user
*.sln.docstates
